@media all and (max-width: 1023px) {
  .header-nav {
    display: none;
  }

  .bar {
    display: block !important;
  }

  .hero h1 {
    font-size: 3.375rem !important;
  }

  .hero h3 {
    font-size: 1.5rem !important;
  }

  /* About Me */
  .about-me {
    padding: 7em 5em !important;
  }

  .card-img {
    padding: 0 !important;
  }

  .card-img img {
    height: 350px !important;
    width: 250px !important;
  }

  .card-content {
    padding: 0 !important;
  }

  .card-right {
    padding-left: 3.5rem !important;
  }

  .card-content h3 {
    font-size: 2.3rem !important;
  }
  /* About Me */

  /* Find Us */
  .find-us h1 {
    font-size: 2.3rem !important;
  }

  .find-us-img {
    padding: 2em 5em !important;
  }

  .item {
    width: 50% !important;
  }
  /* Find Us */

  /* Contact Us */
  .contact-us h1 {
    font-size: 2.3rem !important;
  }
  /* Contact Us */

  .footer-container {
    flex-direction: column !important;
    text-align: center !important;
  }

  .footer-logo img {
    width: 40% !important;
  }

  .footer-btn img {
    width: 5% !important;
  }

  .footer-item {
    margin-bottom: 2em !important;
  }

  .product-menu {
    width: 50% !important;
  }

  /* Detail Page */
  .detail {
    padding: 3em 2em 3em !important;
  }
  .detail-content {
    flex-direction: column;
    margin-bottom: 5em !important;
  }
  .detail-img,
  .detail-text {
    text-align: center;
  }
  .detail-img img {
    width: 90% !important;
  }
  .detail-text h1 {
    font-size: 2.3rem !important;
  }
  .detail-text h3 {
    font-size: 3.4rem !important;
  }
  .detail-description,
  .detail-btn {
    padding: 0 5em !important;
  }
  .detail-description h1 {
    font-size: 1.8rem !important;
  }
  .detail-btn a {
    padding: 0.3em 1.2em !important;
  }
  /* Detail Page */

  /* Find Us */
  .location {
    padding: 3em 3em 3em !important;
  }
  .location-item {
    flex-direction: column;
  }
  .find-us-text {
    padding-right: 0 !important;
  }
  .find-us-map {
    text-align: center;
  }

  /* Find Us */
}

@media all and (max-width: 767px) {
  .navbar {
    padding: 2em 2em !important;
  }

  /* About Me */
  .about-me {
    padding: 3em 2em !important;
  }

  .card {
    flex-direction: column;
  }

  .card-img,
  .card-content {
    width: 100% !important;
    margin-top: 1em !important;
    text-align: center !important;
  }

  .card-right {
    padding-left: 0 !important;
  }

  .card-left {
    padding-right: 0 !important;
  }
  .card-reverse {
    flex-direction: column-reverse;
  }
  /* About Me */

  /* Find Us */
  .find-us-img {
    flex-direction: column;
    padding: 2em 2em !important;
  }

  .item {
    width: 100% !important;
  }
  /* Find Us */

  /* Contact Us */
  .contact-us {
    padding: 4em 2em 2em !important;
  }
  /* Contact Us */

  /* Footer */
  .footer-logo img {
    width: 60% !important;
  }

  .footer-btn img {
    width: 10% !important;
  }
  /* Footer */

  /* Menu page */
  .products-menu {
    padding: 3em 2em 3em !important;
  }
  .products-menu h1 {
    font-size: 2.3rem !important;
  }
  .products-menu p {
    font-size: 1rem !important;
  }
  .product-menu {
    width: 100% !important;
  }
  /* Menu Page */

  /* Detail Page */
  .detail-img img {
    width: 100% !important;
  }
  .detail-text h1 {
    font-size: 1.6rem !important;
  }
  .detail-text h3 {
    font-size: 2.4rem !important;
  }
  .detail-description,
  .detail-btn {
    padding: 0 2em !important;
    text-align: center;
  }
  .detail-description h1 {
    font-size: 1.8rem !important;
  }
  .detail-btn a {
    padding: 0.3em 1.2em !important;
  }
  /* Detail Page */

  /* Find Us */
  .location h1 {
    font-size: 2.3rem !important;
    color: #0f8b8d;
    font-weight: 800;
  }

  .address {
    padding: 1em 2em !important;
  }

  .address h2 {
    font-size: 1.2rem !important;
  }
  /* Find Us */
}
